@page "/menus"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MakanGoFood.Domain
@using MakanGoFood.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@attribute [Authorize(Roles = "Customer")]


<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="menus/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Menu">
    <PropertyColumn Property="menu => menu.Name" />
    <PropertyColumn Property="menu => menu.Price" />
    <PropertyColumn Property="menu => menu.RestaurantId" />

    <TemplateColumn Context="menu">
        <a href="@($"menus/edit?menuid={menu.MenuId}")">Edit</a> |
        <a href="@($"menus/details?menuid={menu.MenuId}")">Details</a> |
        <a href="@($"menus/delete?menuid={menu.MenuId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MakanGoFoodContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
