@page "/orderitems/create"
@using Microsoft.EntityFrameworkCore
@using MakanGoFood.Domain
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>OrderItem</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="OrderItem" OnValidSubmit="AddOrderItem" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity:</label> 
                <InputNumber id="quantity" @bind-Value="OrderItem.Quantity" class="form-control" /> 
                <ValidationMessage For="() => OrderItem.Quantity" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="subtotal" class="form-label">Subtotal:</label> 
                <InputNumber id="subtotal" @bind-Value="OrderItem.Subtotal" class="form-control" /> 
                <ValidationMessage For="() => OrderItem.Subtotal" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="orderid" class="form-label">OrderId:</label> 
                <InputNumber id="orderid" @bind-Value="OrderItem.OrderId" class="form-control" /> 
                <ValidationMessage For="() => OrderItem.OrderId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="menuid" class="form-label">MenuId:</label> 
                <InputNumber id="menuid" @bind-Value="OrderItem.MenuId" class="form-control" /> 
                <ValidationMessage For="() => OrderItem.MenuId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/orderitems">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private OrderItem OrderItem { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddOrderItem()
    {
        using var context = DbFactory.CreateDbContext();
        context.OrderItem.Add(OrderItem);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/orderitems");
    }
}
