@page "/orderitems/edit"
@using Microsoft.EntityFrameworkCore
@using MakanGoFood.Domain
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>OrderItem</h2>
<hr />
@if (OrderItem is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="OrderItem" OnValidSubmit="UpdateOrderItem" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="OrderItem.OrderItemId" value="@OrderItem.OrderItemId" />
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity:</label>
                    <InputNumber id="quantity" @bind-Value="OrderItem.Quantity" class="form-control" />
                    <ValidationMessage For="() => OrderItem.Quantity" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="subtotal" class="form-label">Subtotal:</label>
                    <InputNumber id="subtotal" @bind-Value="OrderItem.Subtotal" class="form-control" />
                    <ValidationMessage For="() => OrderItem.Subtotal" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="orderid" class="form-label">OrderId:</label>
                    <InputNumber id="orderid" @bind-Value="OrderItem.OrderId" class="form-control" />
                    <ValidationMessage For="() => OrderItem.OrderId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="menuid" class="form-label">MenuId:</label>
                    <InputNumber id="menuid" @bind-Value="OrderItem.MenuId" class="form-control" />
                    <ValidationMessage For="() => OrderItem.MenuId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/orderitems">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int OrderItemId { get; set; }

    [SupplyParameterFromForm]
    private OrderItem? OrderItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        OrderItem ??= await context.OrderItem.FirstOrDefaultAsync(m => m.OrderItemId == OrderItemId);

        if (OrderItem is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateOrderItem()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(OrderItem!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!OrderItemExists(OrderItem!.OrderItemId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/orderitems");
    }

    private bool OrderItemExists(int orderitemid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.OrderItem.Any(e => e.OrderItemId == orderitemid);
    }
}
