@page "/orderitems"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MakanGoFood.Domain
@using MakanGoFood.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@attribute [Authorize(Roles = "Customer")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="orderitems/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.OrderItem">
    <PropertyColumn Property="orderitem => orderitem.Quantity" />
    <PropertyColumn Property="orderitem => orderitem.Subtotal" />
    <PropertyColumn Property="orderitem => orderitem.OrderId" />
    <PropertyColumn Property="orderitem => orderitem.MenuId" />

    <TemplateColumn Context="orderitem">
        <a href="@($"orderitems/edit?orderitemid={orderitem.OrderItemId}")">Edit</a> |
        <a href="@($"orderitems/details?orderitemid={orderitem.OrderItemId}")">Details</a> |
        <a href="@($"orderitems/delete?orderitemid={orderitem.OrderItemId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MakanGoFoodContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
