@page "/payments/edit"
@using Microsoft.EntityFrameworkCore
@using MakanGoFood.Domain
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Payment</h2>
<hr />
@if (Payment is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Payment" OnValidSubmit="UpdatePayment" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Payment.PaymentId" value="@Payment.PaymentId" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="paymentmethod" class="form-label">PaymentMethod:</label>
                    <InputText id="paymentmethod" @bind-Value="Payment.PaymentMethod" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Payment.PaymentMethod" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="paymentstatus" class="form-label">PaymentStatus:</label>
                    <InputText id="paymentstatus" @bind-Value="Payment.PaymentStatus" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Payment.PaymentStatus" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount:</label>
                    <InputNumber id="amount" @bind-Value="Payment.Amount" class="form-control" />
                    <ValidationMessage For="() => Payment.Amount" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="orderid" class="form-label">OrderId:</label>
                    <InputNumber id="orderid" @bind-Value="Payment.OrderId" class="form-control" />
                    <ValidationMessage For="() => Payment.OrderId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/payments">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int PaymentId { get; set; }

    [SupplyParameterFromForm]
    private Payment? Payment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Payment ??= await context.Payment.FirstOrDefaultAsync(m => m.PaymentId == PaymentId);

        if (Payment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePayment()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Payment!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PaymentExists(Payment!.PaymentId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/payments");
    }

    private bool PaymentExists(int paymentid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Payment.Any(e => e.PaymentId == paymentid);
    }
}
