@page "/payments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MakanGoFood.Domain
@using MakanGoFood.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@attribute [Authorize(Roles = "Customer")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="payments/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Payment">
    <PropertyColumn Property="payment => payment.PaymentMethod" />
    <PropertyColumn Property="payment => payment.PaymentStatus" />
    <PropertyColumn Property="payment => payment.Amount" />
    <PropertyColumn Property="payment => payment.OrderId" />

    <TemplateColumn Context="payment">
        <a href="@($"payments/edit?paymentid={payment.PaymentId}")">Edit</a> |
        <a href="@($"payments/details?paymentid={payment.PaymentId}")">Details</a> |
        <a href="@($"payments/delete?paymentid={payment.PaymentId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MakanGoFoodContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
