@implements IDisposable
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MakanGoFood</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized Context="auth">
                <!-- Common for BOTH roles -->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        @auth.User.Identity?.Name
                    </NavLink>
                </div>

                <!-- CUSTOMER LINKS ONLY -->
                <AuthorizeView Roles="Customer">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="addresses">My Address</NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="orderitems">My Orders</NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="payments">Payment</NavLink>
                    </div>
                    
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="menus">Menu</NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="restaurants">Restaurants</NavLink>
                    </div>
                </AuthorizeView>

                <!-- RIDER LINKS ONLY -->
                <AuthorizeView Roles="Rider">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="deliveryriders">Rider Dashboard</NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="orders">Assigned Orders</NavLink>
                    </div>
                </AuthorizeView>

                <AuthorizeView Roles="Admin">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="deliveryriders">Our Riders</NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="restaurants">Restaurants</NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="customers">Customer</NavLink>
                    </div>
                </AuthorizeView>

                <!-- Logout (BOTH roles) -->
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">Logout</button>
                    </form>
                </div>
            </Authorized>

            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">Register</NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">Login</NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>



        
    </nav>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}