@page "/orders"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MakanGoFood.Domain
@using MakanGoFood.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@attribute [Authorize(Roles = "Rider")]


<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="orders/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Order">
    <PropertyColumn Property="order => order.OrderDateTime" />
    <PropertyColumn Property="order => order.OrderStatus" />
    <PropertyColumn Property="order => order.AddressId" />
    <PropertyColumn Property="order => order.CustomerId" />
    <PropertyColumn Property="order => order.RiderId" />
    <PropertyColumn Property="order => order.RestaurantId" />

    <TemplateColumn Context="order">
        <a href="@($"orders/edit?orderid={order.OrderId}")">Edit</a> |
        <a href="@($"orders/details?orderid={order.OrderId}")">Details</a> |
        <a href="@($"orders/delete?orderid={order.OrderId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MakanGoFoodContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
