@page "/restaurants/create"
@using Microsoft.EntityFrameworkCore
@using MakanGoFood.Domain
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Restaurant</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Restaurant" OnValidSubmit="AddRestaurant" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Restaurant.Name" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Restaurant.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label> 
                <InputText id="location" @bind-Value="Restaurant.Location" class="form-control" /> 
                <ValidationMessage For="() => Restaurant.Location" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="openinghours" class="form-label">OpeningHours:</label> 
                <InputText id="openinghours" @bind-Value="Restaurant.OpeningHours" class="form-control" /> 
                <ValidationMessage For="() => Restaurant.OpeningHours" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="rating" class="form-label">Rating:</label> 
                <InputNumber id="rating" @bind-Value="Restaurant.Rating" class="form-control" /> 
                <ValidationMessage For="() => Restaurant.Rating" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/restaurants">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Restaurant Restaurant { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddRestaurant()
    {
        using var context = DbFactory.CreateDbContext();
        context.Restaurant.Add(Restaurant);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/restaurants");
    }
}
