@page "/restaurants"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Authorization
@using MakanGoFood.Domain
@using MakanGoFood.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MakanGoFood.Data.MakanGoFoodContext> DbFactory

@attribute [Authorize(Roles = "Customer,Admin")]

<PageTitle>Restaurants</PageTitle>

<h1>Restaurants</h1>

<AuthorizeView Roles="Admin">
    <p>
        <a class="btn btn-primary btn-sm" href="restaurants/create">Create New</a>
    </p>
</AuthorizeView>

<QuickGrid Class="table" Items="context.Restaurant">
    <PropertyColumn Property="restaurant => restaurant.Name" Title="Name" />
    <PropertyColumn Property="restaurant => restaurant.Location" Title="Location" />
    <PropertyColumn Property="restaurant => restaurant.OpeningHours" Title="Opening Hours" />
    <PropertyColumn Property="restaurant => restaurant.Rating" Title="Rating" />

    <TemplateColumn Title="Actions" Context="restaurant">
        <!-- Customer main action -->
        <NavLink class="btn btn-sm btn-success"
                 href="@($"/menus/{restaurant.RestaurantId}")">
            View Menu
        </NavLink>

        <!-- Admin actions -->
        <AuthorizeView Roles="Admin">
            <span class="mx-2">|</span>
            <a class="btn btn-sm btn-warning"
               href="@($"restaurants/edit?restaurantid={restaurant.RestaurantId}")">
                Edit
            </a>

            <a class="btn btn-sm btn-info ms-1"
               href="@($"restaurants/details?restaurantid={restaurant.RestaurantId}")">
                Details
            </a>

            <a class="btn btn-sm btn-danger ms-1"
               href="@($"restaurants/delete?restaurantid={restaurant.RestaurantId}")">
                Delete
            </a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private MakanGoFoodContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
